.bordas{
  color: blue;
  margin: 5px solid;
  border: 30px blueviolet;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
  margin-right: 80px;

}
.wordscolors{
  color: purple;
  font-size: 20px;

}
.titulo{
  color: green;
  font-size: 35px;
}
.padding{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
td{
  text-align: center;
  color: palevioletred;
  font-size: 25px;
}
.subtitulo{
  color: blueviolet;
  font-size: 30px;
}
