body{
    font-family: 'Source Code Pro', monospace;
    font-size: large;
}

.images-link{
  display: flex;
  flex-wrap: wrap;
  text-align: end;
  background-color: none;
  align-content: center;
  width: 100%;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.align-images{
    width: 48%;
    height: auto;
    margin-top: 153px;

}

.align-images a{
    align-content: center
}

.background{
    background-color none;
    text-align: center;
}

.background1{
    background-color: none;
    text-align: end;
    text-size-adjust: larger;
    
}

.background1 a{
    text-size-adjust: 50;
}

header{
    margin-left: 15px;
    margin-right: 15px;  
}

footer{
    background-color: crimson;
    margin-left: 15px;
    margin-right: 15px; 
    margintop: 15px;
    margin-bottom: 15px;
    text-align: center
}

.carrossel1{
    background-image: ;
    height: 600px;
    width: 100% CALC-30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: darkgoldenrod;
}

.icones{
    width: 40px;
    height: 40px;
}

